.checkout {
  display: flex;
  padding: 20px;
  background-color: #fff;
  height: max-content;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: large;
}

.checkout__ad {
  width: 100%;
  margin-bottom: 10px;
}

.checkout__title {
  display: flex;
  margin-right: 10px;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}
